@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family:ubuntu;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 54, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    text-align: center;
    transition: all 0.5s ease;
}


h1{
    font-size: 200px;
    font-family: quintessential;
}

.grid{
    display: grid;
    grid-template-columns: repeat(10, 10fr);
    grid-template-rows:repeat(30, 10fr) ;
    gap: 1px;
    height: 300vh;
    width: 100vw;
}

header{
    grid-column: 1/11;
    grid-row: 7/10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meio{  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

#cartao1{
    grid-column: 3/5;
    grid-row: 2/4;
    background-color: #574964;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

#cartao1:hover{
    background-color: #8cd5ff;
    cursor: pointer;
    transform: scale(1.25);
}


#cartao2{
    background-color: #9F8383;
    grid-column: 7/9;
    grid-row: 2/4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    transition: all 0.3s ease;
}

#cartao2:hover{
    background-color: #8cd5ff;
    cursor:pointer;
    transform: scale(1.25);
}

#cartao3{
    background-color: #C8AAAA;
    grid-column: 8/10;
    grid-row: 5/7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    transition: all 0.3s ease;
}

#cartao3:hover{
    background-color: #8cd5ff;
    cursor:pointer;
    transform: scale(1.25);
}

#cartao4{
    background-color: #F28C8C;
    grid-column: 2/4;
    grid-row: 5/7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    transition: all 0.3s ease;
}

#cartao4:hover{
    background-color: #8cd5ff;
    cursor:pointer;
    transform: scale(1.25);
}


p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    margin: 10px;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

hr{
    width: 90%;
    background-color: rgb(170, 189, 134);
    border-radius: 25%;
    border: 1px;
    height: 5px;
}

#texto-principal{
    grid-column: 1/11;
    grid-row: 10/20;
    text-align: center;
    color: antiquewhite;
    transition: all 0.3s ease;
}

#texto-principal h2{
    font-size: 35px;
    transition: all 0.3s ease;
    cursor: pointer;
    grid-column: 20/81;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 50px;
}

#texto-principal img{
    border-radius: 5%;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease;
    grid-row: 200/350;
    max-width: 750px; 
    margin-top: -15px;
}

#texto-principal p{
    align-items: center;
    font-size: 20px;
    margin-right: 400px;
    margin-left: 400px;
}



#texto-principal h2:hover{
    color: rgb(170, 52, 147);
    transform: scale(1.05);
}

#texto-secundario{
    background-color: #575757;
    grid-column: 1/11;
    grid-row: 21/28;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    margin: 25px;
    margin-bottom: 0px;
}

#texto-secundario h2{
    font-size: 35px;
    margin: 25px;
    margin-bottom: 50px;
}

#texto-secundario p{
    font-size: 20px;
    margin: 25px;
    margin-top: -25px;
    color: white;
}

#navbar {
    grid-column: 4/8;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #868686;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
    transition: all 0.3s ease;
    position: sticky;
    top: 20px;
    overflow: hidden;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: fit-content;
}

.opcoes:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);

}

#navbar a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;

}

#navbar a:hover {
    color: rgb(255, 54, 215);
    transform: scale(1.5);
}

footer{
    grid-column: 1/11;
    grid-row: 28/31;
    background-color: rgb(104, 0, 0);
    color: white;
    margin: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
}

footer h3{
    margin: 15px;
    font-size: 20px;
}

#redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;   
    margin: 15px;
    margin-right: 400px;
}

#mensagem-footer{
    margin: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    float: right;
    margin-left: 400px;
}

#botao {
    background-color: #000;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 50px;
}

/* Efeito hover */
#botao:hover {
    background-color: #222;
    transform: scale(1.05);
}

.texto-grande{
    margin-bottom: -40px;
}


footer img{
    width: auto;
    margin: 15px;
    height: 50px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 20%; 
  color: #000;
  border-radius: 15px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.lightmode{
    background-color: #fff;
    color: #000;
}

.lightmode h2{
    color: #d3a3ff;
}

.lightmode footer{
    background-color: #b09ec1;
    color: #000;
}

.lightmode #texto-secundario{
    background-color: #aaa;
}

.lightmode #texto-secundario p{
    color: #000;
}

.lightmode #texto-secundario h2{
    color: #73459f;
}

#alternarCor { 
    padding: 10px 20px; 
    cursor: pointer; 
    border: none; 
    background: #444; 
    color: white; 
    border-radius: 5px; 
} 

body.lightmode #alternarCor { 
    background: #ddd; 
    color: #000; 
}